<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather prediction</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/myhome.css')}}">
  </head>
  <body>
    <main>
      <h1>WELCOME!!</h1>
      <br>
      <h2 style="color: black;">Let's Start New Journey </h2>
      <br>
      <h2 style="color: black;">Click following button for Weather Prediction</h2>
    </main>
     <form action="/Predict">
      <input type="submit" id="Predict" name="Predict" action="/Predict" value="Predict">
     </form>
  </body>
</html>