<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Prediction</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/first.css')}}">
</head>
<body>
    <form action="form" method="post">
  <label for="precipitation">precipitation:</label>
  <input type="number" id="precipitation" name="precipitation" min="0" max="60" step="0.01" placeholder="precipitation    (0-60)" required>

  <label for="tempmax">tempmax:</label>
  <input type="number" id="tempmax" name="tempmax" min="-1.6" max="50" step="0.01" placeholder="tempmax in celsius   (0-50)" required>

  <label for="tempmin">tempmin:</label>
  <input type="number" id="tempmin" name="tempmin" min="-7" max="40" step="0.01" placeholder="tempmin in celsius  (0-40)" required>

  <label for="Wind">Wind:</label>
  <input type="number" id="Wind" name="Wind" min="0" max="20" step="0.01" placeholder="Wind in Kmph   (0-20)" required>

  <input type="submit" id="submit" name="submit" value="Predict">
</form>

</body>
</html>