input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #464a46;
  color: white;
  cursor: pointer;
}
body {
  
    background-image: url('last.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    /*align-items: center;*/
    justify-content: top;
    font-size: 36px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px #333;
    
  }
  main {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
    height: 100vh;
  }